<!DOCTYPE html>
<html lang="en">
<head>
  <title>Veri Listesi</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    h1 {
      text-align: center;
      padding: 20px;
    }
    table {
      width: 80%;
      margin: auto;
      border-collapse: collapse;
      background-color: #fff;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: #ddd;
    }
    td[colspan="4"] {
      text-align: center;
      padding: 10px;
      font-style: italic;
    }
  </style>
</head>
<body>
  <h1>İhale Verileri <%= userId %></h1>
  <table border="1">
    <tr>
        <th>Veri No </th>
        <th>Sirket Id</th>
        <th>Sirket İsmi</th>
        <th>Sozlesme bedeli</th>
    </tr>
    
    <%
    if(data.length!=0){
    var i=1;
    data.forEach(function(data){
    %>
    <tr>
        <td><%=i; %></td>
        <td><%=data.s_id %></td>
        <td><%=data.isin_adi %></td>
        <td><%=data.sozlesme_bedeli %></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
  </table>
</body>
</html>

